name: update-data

on:
  schedule:
    - cron: "0 3 * * *"  # daily at 03:00 UTC
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install -r requirements.txt

      #for spaCy
      - run: python -m spacy download nl_core_news_sm || true

      - run: python update_data.py

      - name: Commit latest.json
        run: |
          git config user.name "pvo-bot"
          git config user.email "pvo-bot@users.noreply.github.com"
          git add cache/public/latest.json preprocess_cache.json
          git commit -m "data: refresh" || echo "No changes"
          git push
